{% extends "base.html" %}
{% block content %}
<br>
<h1 class="text-center">Home PAGE</h1>
<h2 class="text-center">Welcome, <span id="user-name"></span></h2>
<hr>
<br>
<br>
<div class="container-lg">
    <div>
        <div class="table-title w-auto">
            <div class="d-flex justify-content-between">
                <div>
                    <h2>Tasks <b>Details</b></h2>
                </div>
                <button class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#createModal">New Task</button>
            </div>
            {% include "createTask.html" %}
            {% include "editTask.html" %}

  
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="task-id-delete" aria-describedby="edit-title" placeholder="Enter Title" hidden>
                    <span>
                        Are You sure, You want to delete this Task?
                    </span>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="deleteTask()" class="btn btn-danger">Delete</button>
                </div>
            </div>
            </div>
        </div>

            <!-- Modal -->
           
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>productid</th>
                    <th>title</th>
                    <th>description</th>
                    <th>priority</th>
                    <th>status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="task-body">


            </tbody>
        </table>
        <div class="text-center mt-3">
            <button id="prev-btn" class="btn btn-primary">Previous</button>
            <button id="next-btn" class="btn btn-primary">Next</button>
        </div>
        <!-- modal -->

    </div>
    <br>

    <script>
        const tbody = document.getElementById('task-body')
        let currentURL = '/api/tasks/'
        const getTasks = tasks => {
            tbody.innerHTML = ''
            tasks.forEach(task => {
                const row = document.createElement('tr')
                row.innerHTML = `
                <td>${task.id}</td>
                <td>${task.title}</td>
                <td>${task.description}</td>
                <td>${task.priority}</td>
                <td>${task.status}</td>
                <td>
                    <button class="btn btn-sm btn-warning" onclick="editTask(${task.id})">Edit</button>
                    <button class="btn btn-sm btn-danger" onclick="confirmModal(${task.id})">Delete</button>
                </td>
                    `
                tbody.appendChild(row)
            })
        }
        const updatePaginateBtn = (prev, next) => {
            const prevBtn = document.getElementById("prev-btn")
            const nextBtn = document.getElementById("next-btn")

            prevBtn.disabled = !prev
            nextBtn.disabled = !next

            if (prev) {
                prevBtn.onclick = () => {
                    currentURL = prev
                    LoadUserTasks()
                }
            }
            if (next) {
                nextBtn.onclick = () => {
                    currentURL = next
                    LoadUserTasks()
                }
            }

        }
        const LoadUserTasks = () => {
            axios.get(currentURL).then(response => {
                const tasks = response.data.results
                const previous = response.data.previous
                const next = response.data.next
                getTasks(tasks)
                updatePaginateBtn(previous, next)
            })
            .catch(error=>{
                alert(JSON.stringify(error.response.data))
                window.location.href = "/login/"
            })

        }
        const authenticatedCheck = () => {
            axios.get('/user/me/').then(response => {
                document.getElementById("user-name").innerHTML = response.data.username
            })
            .catch(error=>{
                console.log(JSON.stringify(error.response.data))
            })
        }

        document.addEventListener('DOMContentLoaded',  function () {
            LoadUserTasks()
            authenticatedCheck()
        } )

        const editTask = taskId => {
            axios.get(`/api/tasks/${taskId}/`)
            .then(response => {
                const task = response.data;
                document.getElementById('task-id').value = task.id;
                document.getElementById('edit-title').value = task.title;
                document.getElementById('edit-description').value = task.description;
                document.getElementById('edit-priority').value = task.priority;
                document.getElementById('edit-status').value = task.status;

                // Show modal
                const modal = new bootstrap.Modal(document.getElementById('editModal'));
                modal.show();
            })
            .catch(error => {
                console.error('Failed to fetch task:', error);
                alert("Could not load task data.");
            });
        }

        const confirmModal = (taskId) => {
            document.getElementById('task-id-delete').value = taskId;
            const modal = new bootstrap.Modal(document.getElementById('deleteModal'));
            modal.show();
        }

        const deleteModal = document.getElementById("deleteModal");


        const deleteTask = () => {
            const taskId = document.getElementById("task-id-delete").value
            axios.delete(`/api/tasks/${taskId}/`)
            .then(response => {
                alert("Task Deleted Successfully")
                const modalInstance = bootstrap.Modal.getInstance(deleteModal) || new bootstrap.Modal(deleteModal);
                modalInstance.hide();
                LoadUserTasks()
            })
            .catch(error => {
                console.error('Failed to fetch task:', error);
                alert("Could not load task data.");
            });
        }


    </script>
    {% endblock %}